<section class="border-white/20 border-x max-w-7xl mx-auto">
  <div
    class="mx-auto py-16 max-w-7xl flex flex-col sm:flex-row items-center justify-center gap-6 p-8"
  >
    <div class="relative">
      <a
        href="https://www.google.com/"
        class="text-white text-center items-center w-48 bg-[#007CEA] transition-all duration-300 focus:outline-none focus:ring-2 focus:ring-blue-400 font-display font-medium inline-flex justify-center px-6 py-3 rounded-full text-lg sm:text-xl hover:scale-105"
      >
        Do nothing
      </a>
    </div>
    <div class="relative">
      <a
        href="mailto:root@fatsolutions.xyz"
        class="text-white text-center items-center w-48 bg-carrot transition-all duration-300 focus:outline-none focus:ring-2 focus:ring-orange-400 font-display font-medium inline-flex justify-center px-6 py-3 rounded-full text-lg sm:text-xl hover:scale-105"
      >
        Contact us
      </a>
    </div>
  </div>
</section>
