---
import Banner from "@/components/landing/Banner.astro";
import Mission from "@/components/landing/Mission.astro";
---

<section class="">
  <div class="mx-auto border-white/20 border-x max-w-7xl">
    <div class="mx-auto lg:h-full flex flex-col">
      <div
        class="mx-auto lg:pt-28 gradient-grid px-8 py-12 lg:pb-20 w-full text-[2rem] sm:text-5xl"
      >
        <h1 class="text-white font-display lg:text-9xl">FAT SOLUTIONS</h1>
        <h2 class="lg:text-7xl font-display mt-8 lg:mt-20 text-carrot">
          FAT problems require FAT solutions.
        </h2>
      </div>
      <div><Banner /></div>
      <Mission />
    </div>
  </div>
</section>
