<section id="mission-statement" class="bg-black text-zinc-500 py-12 lg:py-24">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div
      class="mx-auto font-display text-base sm:text-lg md:text-xl lg:text-3xl"
    >
      <p class="text-left">
        Our mission is to <span class="text-white">strengthen</span> the Web3 space
        by providing the tools and expertise needed for <span class="text-white"
          >successful</span
        >
        project launches, ensuring innovation and
        <span class="text-white">security</span> are at the core of every FAT solution.
      </p>
    </div>
  </div>
</section>
