<section id="WhatWeDo" class="bg-black text-white">
  <div
    class="max-w-7xl mx-auto px-4 py-8 sm:px-6 lg:px-8 lg:py-14 border-white/20 border-x border-t"
  >
    <h2 class="text-3xl lg:text-5xl font-display uppercase text-center mb-12">
      What We Do; Explained
    </h2>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-8">
      <div class="space-y-3">
        <h3 class="text-xl font-display">Smart Contract Development</h3>
        <p class="text-gray-300">
          Our experienced engineers have deployed multiple contracts within the
          Ethereum ecosystem.
        </p>
      </div>
      <div class="space-y-3">
        <h3 class="text-xl font-display">ZK Solutions</h3>
        <p class="text-gray-300">
          We tackle complex challenges to expand Ethereum's future on the ZK
          frontier, providing simple solutions to intricate problems.
        </p>
      </div>
      <div class="space-y-3">
        <h3 class="text-xl font-display">Infrastructure</h3>
        <p class="text-gray-300">
          We build robust and scalable blockchain infrastructure, supporting the
          growing demands of Ethereum developers.
        </p>
      </div>
      <div class="space-y-3">
        <h3 class="text-xl font-display">Cross-Language Development</h3>
        <p class="text-gray-300">
          Our diverse technical stack includes Solidity, Circom, Noir, Rust, Cairo, TypeScript,
          C, Haskell, Python, enabling tailored solutions.
        </p>
      </div>
    </div>
  </div>
</section>
